/* Body and container styles */
body {
    height: 100%;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f2f5;
}

.container {
    max-width: 60rem;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo {
    max-width: 90%;
    height: auto;
    margin-bottom: 10px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.additional-content {
    width: 40%;
    margin: 30px auto;
    align-items: flex-start;
}

/* Scenario section styles */
#scenario-container, #custom-scenario {
    width: 50%;
    margin: 10px 0;
    font-style: italic;
}

#scenario-display {
    width: 80%;
    font-style: italic; 
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

select, input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Chatbot styles */
.chatbot-container {
    width: 500px;
    max-width: 500px;
    margin: 30px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.chat-window {
    display: flex;
    flex-direction: column;
    height: 350px;
    overflow-y: auto;
    padding: 10px;
    background-color: #ffffff;
}

.message {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    max-width: 60%;
    word-wrap: break-word;
}

.message.patient {
    background-color: #e8ecf8;
    text-align: left;
    align-self: flex-start;
}

.message.human {
    background-color: #d4a5bc;
    color: white;
    text-align: right;
    align-self: flex-end;
}

/* Mode Selection */
#mode-selector {
    display: flex;
    width: 490px;
    max-width: 490px;
    background-color: #fff;
    border: 1px solid transparent;
    margin-left: 5px;
    margin-top: 10px;
}

#interaction-mode {
    padding: 5px;
    font-size: 14px;
    align-items: center;
    width: 100%;
    max-width: 500px;
    text-align: center;
    border: 1px solid transparent;
}

/* Input and button styles */
.input-container {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.text-input-container {
    display: flex;
    align-items: center;
}

.voice-input-container {
    display: none; /* Hidden by default, shown in Voice-to-Voice mode */
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
}

#chat-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 50px;
    box-sizing: border-box;
}

#send-btn {
    padding: 0 20px;
    margin-left: 10px;
    background-color: #a4b4fc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
}

#send-btn:hover {
    background-color: #acc4f4;
}

#end-btn {
    padding: 0 20px;
    margin-left: 0px;
    background-color: #a4b4fc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    display: center;
    align-items: center;
}

#end-btn:hover {
    background-color: #acc4f4;
}

button {
    padding: 10px 20px;
    background-color: #a4b4fc;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #acc4f4;
}

/* Microphone button for voice input */
#mic-btn {
    width: 50px;
    height: 50px;
    background-color: #a4b4fc;
    color: #fff;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#mic-btn:hover {
    background-color: #acc4f4;
}

#mic-btn.active {
    background-color: #d4a5bc; /* Change background color when active */
}

/* Table styling */
table, th, td {
    border:  1px solid black;
    border-collapse: collapse;
    padding: 10px;
    border-style: dotted;
    font-size: 12px;
    margin-bottom: 20px;
    text-align: left;
}

/* Basic styling for the footer */
footer {
    text-align: center;
    max-width: 70rem;
    width: 100%;
}

/* Style the footer link */
footer a {
    color: #a4b4fc;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}  